@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
nav{
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0,0,0, 0.1);
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    height: 50px;

}

nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}
nav a:hover{
    background-color: #f0f0f0;
}

nav li:first-child{
    margin-right: auto;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;

    width: 250px;

    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0,0,0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li{
    width: 100%;
}
.sidebar a{
    width: 100%;
}

.menu-button{
    display: none;
}

@media(max-width:800px){
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
}

@media(max-width: 400px){
    .sidebar{
        width: 100%;
    }
}



.grid-container {
    background-color: rgb(100, 100, 78);
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 2px;
    padding: 20px;
    align-items: center;
}


/* .grid-text {
    background-color: #fff;
    padding: 10px;
    align-items: center;
    margin: 10px;
    width: 280px;
    margin-right: 12px;
    text-decoration: none;
    border-radius: 6px;
} */

.grid-text {
    background-color: #fff;
    padding: 10px;
    margin: 10px;
    width: 280px;
    height: 200px; /* Ensures all items have at least this height */
    text-decoration: none;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Ensures content is evenly spaced */
    transition: .5s;
}

.grid-text:hover {
    box-shadow:  2px #d7f3f2d3;
    border-color: bisque;
    background-color: azure;
}



* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* body {
    line-height: 1.5;
} */

.card-wrapper{
    max-width: 1100px;
    margin: 0 auto;
}

img{
    width: 80%;
    display: block;
    
}

.img-display{
    overflow: hidden;
    height: 500px;
}

.img-showcase{
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
}

.img-showcase img{
    min-width: 100%;
}

.img-select {
    display: flex;
}

.img-item{
    margin: 0.3rem;
}

.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3){
    margin-right: 0;
}
.img-item:hover{
    opacity: 0.8;
}

.product-content{
    padding: 2rem 1rem;
}

.product-title{
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    color: #12263a;
    margin: 1rem 0;
}

.product-title::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 80px;
    background: #12263a;
}

.product-link{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    background: #256eff;
    color: #fff;
    padding: 0 0.3rem;
    transition: all 0.5s ease;
}

.product-link:hover{
    opacity: 0.9;
}

.product-rating {
    color: #ffc107;
}

.product-rating span{
    font-weight: 600;
    color: #252525;
}

.product-price{
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 700;
}

.product-price span{
    font-weight: 400;
}

.last-price span{
    color: #f64749;
    text-decoration: line-through;
}

.new-price span{
    color: #256eff;
}

.product-detail h2{
    text-transform: capitalize;
    color: #12263a;
    padding-bottom: 0.6rem;
}
.product-detail p{
    font-size: 0.9rem;
    padding: 0.3rem;
    opacity: 0.8;
}




.purchase-info{
    margin: 1.5rem 0;
}

.purchase-info,
.purchase-info .btn{
    border: 1.5px solid #ddd;
    border-radius: 25px;
    text-align: center;
    padding: 0.45rem 0.8rem;
    outline: 0;
    margin-right: 0.2rem;
    margin-bottom: 1rem;
}

.purchase-info input{
    width: 60px;
}

.purchase-info .btn{
    cursor: pointer;
    color: #fff;
}

.purchase-info .btn:first-of-type{
    background: #256eff;
}


.purchase-info .btn:last-of-type{
    background: #f64749;
}

.purchase-info .btn:hover{
    opacity: 0.9;
}

.social-links{
    display: flex;
    align-items: center;
}

.social-links a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: #000;
    border: 1px solid #000;
    margin: 0 0.2rem;
    border-radius: 50%;
    text-decoration: none;
    font-size: 0.8rem;
    transition: all 0.5s ease;
}

.social-links a:hover{
    background: #000;
    border-color: transparent;
    color: #fff;
}




@media screen and (min-width: 992px){
    .card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }
    .card-wrapper{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .product-imgs{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .product-content{
        padding-top: 0;
    }
}

form{width: 100%;}

.form-box{
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background:#fff;
    display: flex;
    align-items: center;
    color: #333;
    text-align: center;
    padding: 40px;
    z-index: 1;
    transition: .6s ease-in-out 1.2s, visibility 0s 1s;
}

.input-box{
    position: relative;
    margin: 30px 0;
}
.input-box input{
    width: 100%;
    padding: 13px 50px 13px 20px;
    background: #eee;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
    font-weight: 500;
}

.input-box input::placeholder{
    color: #888;
    font-weight: 400;
}

.btn{
    width: 100%;
    height: 48px;
    background: #7494ec;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
}

.social-icons{
    display: flex;
    justify-content: center;
}

    .social-icons a{
        display: inline-flex;
        padding: 10px;
        border: 2px solid #ccc;
        border-radius: 8px;
        font-size: 24px;
        color: #333;
        margin: 0 8px;
    }

.form-control{
    padding: 20px;
    margin: 10px;

}



/* ========================Cart Items sectin=============*/
.cart-item-link{
    text-decoration: none;
    display: block;
}
.cart-heading{
    text-align: center;
}
.cart-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 15px 0;
}

.cart-item img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 5px;
}

.cart-item-detail {
    flex: 1;
    margin-left: 20px;

}
.cart-item-actions{
    text-align: right;
}

.remove-btn{
    background: #e74c3c;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
}
.remove-btn:hover {
    background: #c0392b;
}
.cart-summary {
    display: flex;
    text-align: left;
    margin-top: 20px;
    justify-content: space-between;
}
.order-now{
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.order-now:hover{
    background: black;
    color: white;
    opacity: 0.9;
}
.order{
    text-decoration: none;
}
.checkout-btn {
    background: #2ecc71;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}
.checkout-btn:hover {
    background: #27ae60;
}

/* ======================Profile==============*/
.profile-image{
    width: 400px;
    height: 200px;
    border-radius: 10px;
    justify-content: center;
    margin: 0 auto;
    display: block;
}